:root {
  --gridList-column: 200px;
  --gridList-rows: 200px;
  --gridList-gap: 6px;
}

.list-of-gifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
  grid-auto-rows: var(--gridList-rows);
  grid-template-rows: masonry;
  grid-auto-flow: column dense;
  grid-auto-flow: row dense;
  grid-gap: var(--gridList-gap, 6px);
  gap: var(--gridList-gap, 6px);
  align-items: center;
}

@media (max-width: 1200px) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 180px;
  }
}

@media (max-width: 900px) {
  :root {
    --gridList-column: 160px;
    --gridList-rows: 160px;
  }
}

@media (max-width: 600px) {
  :root {
    --gridList-column: 150px;
    --gridList-rows: 150px;
  }
}

@media (max-width: 493px) {
  :root {
    --gridList-column: 140px;
    --gridList-rows: 140px;
  }
}

@media (max-width: 464px) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 180px;
  }
}

@media (max-width: 398px) {
  :root {
    --gridList-column: 160px;
    --gridList-rows: 160px;
  }
}

@media (max-width: 358px) {
  :root {
    --gridList-column: 140px;
    --gridList-rows: 140px;
  }
}
