/* version dev */
.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin: 20px 0 0 0;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: coral;
  font-size: 18px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0 ;
}

.list-of-gifs {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.gif img {
  max-height: 160px;
  /* width: 15vw; */
  object-fit: contain;
}

.App-link {
  color: #61dafb;
}

.App-content Link {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
