@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mouse+Memoirs&family=Roboto:wght@900&display=swap');

/*
font-family: 'Dancing Script', cursive;
font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.app {
  text-align: center;
}

.app-logo {
  text-align: center;
  margin: 26px 0px 20px 0px;
  height: 150px;
}

input {
  width: 180px;
  height: 30px;
  border-radius: 50px;
  padding: 0 15px 0 15px;
  margin-bottom: 2px;
  font-size: 15px;
}

.app-title {
  color: var(--theme-body-txt);
  margin-top: 0.6rem;
}

.app-content {
  margin: auto;
  max-width: 1200px;
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 0px 16px 16px 16px;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  text-align: center;
  width: 100%;
  margin-top: 27px;
}

/*----------*/

.app-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 0.5em;
}

.app-results {
  flex-shrink: 2;
  width: 100%;
}

.app-category {
  margin-bottom: 25px;
  width: 100%;
}

.btn {
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  background-color: var(--brand-color_3);
  color: var(--theme-body-txt);
  cursor: pointer;
  font-size: 1rem;
}

.btn[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.btn:hover {
  background-color: var(--brand-color_6);
}

/*-----------------------------------------\
	Responsive
\-----------------------------------------*/
@media screen and (min-width: 880px) {
  .app-main {
    flex-direction: initial;
  }

  .app-category {
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .app-logo {
    text-align: center;
    margin: 40px 0px 24px 0px;
    height: 150px;
  }

  input {
    width: 190px;
    height: 35px;
    border-radius: 40px;
    font-size: 18px;
  }
}


/*-----------------------------------------\
	Button "Load more"
\-----------------------------------------*/
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-load-more {
  background: #A370F0;
  background: #7d4ec5;
  color: white;
  color: #fbb513;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 35px;
  padding-right: 3.3em;
  text-align: center;
  margin: 8px;
 }
 
 .button-load-more .icon-box {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 2.2em;
  border-radius: 8px;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .button-load-more:hover .icon-box {
  width: calc(100% - 0.6em);
 }
 
 .button-load-more .icon-box .icon {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
  color: #7d4ec5;
 }
 
 .button-load-more:hover .icon-box .icon {
  transform: translateX(0.1em);
 }
 
 .button-load-more:active .icon-box {
  transform: scale(0.95);
 }
 
